:root {
  /* Светлая тема */
  --font-family: "Raleway", sans-serif;
  --font-size-default: 14px;
  --color-primary: #1e88e5;
  --color-primary-hover: #1565c0;
  --color-secondary: #757575;
  --color-secondary-hover: #616161;
  --color-background: #ffffff;
  --color-text: #333333;
  --color-error: #e53935;
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[data-theme="dark"] {
  /* Тёмная тема */
  --color-primary: #90caf9;
  --color-primary-hover: #64b5f6;
  --color-secondary: #b0bec5;
  --color-secondary-hover: #90a4ae;
  --color-background: #121212;
  --color-text: #ffffff;
  --color-error: #ef9a9a;
  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}
